// Define variables for your color scheme

// For example:
$orange: #E67E22;
$navy: #112B3C;
$blue: #205375;
$grey: #EFEFEF;
$light-blue: #467fd0;

$red: #FD1015;
$yellow: #FFC65A;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
