.profile_pic{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.card-wrap{
  overflow: hidden;
  width: contain;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.profile_picture {
  border-radius: 50%;
}
