// .centered {
//   margin: 0 auto;
//   text-align: center;
// }

:root {
  --gl-star-size: 44px;
  // --gl-tooltip-border-radius: 4px;
  // --gl-tooltip-font-size: 0.875rem;
  // --gl-tooltip-font-weight: 400;
  // --gl-tooltip-line-height: 1;
  // --gl-tooltip-margin: 12px;
  // --gl-tooltip-padding: .5em 1em;
  // --gl-tooltip-size: 6px;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.show-img {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.info {
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
}

.show-btns {
  justify-content: space-between;
}

.show-btn {
  min-width: 64px;
  min-height: 64px;
  background-color: inherit;
  color: orange;
}

.review-card {
  max-height: 256px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;}

.h2, h1, h3, h4 {
  margin: 0
}

.centered {
  text-align: center;
}

.gray {
  color: grey;
}


