<div class="container review-card">
  <div class="stars-review">
    <% review.rating.to_i.times do %>
      <i class="fa-solid fa-star my-3 fa-2x"></i>
    <% end %>
    <% (5 - review.rating.to_i).times do %>
      <i class="fa-regular fa-star my-3 fa-2x"></i>
    <% end %>
    <% if review.highlight.present? %>
      <p><strong><%= review.highlight %></strong></p>
    <% end %>
    <% if review.comment.present? %>

      <p><%= review.comment %></p>
    <% end %>
    <div class="d-flex my-2 justify-content-between">
      <p class="fw-lighter"><%= current_user.nickname %></p>
      <p class="fst-italic"><%= review.created_at.strftime("%B %d, %Y") %></p>
    </div>
  </div>
</div>
