.card {
  height: 38vh;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.header{
  display:flex;
  h3{
    font-size: 14px;
    font-weight: bold;
    color: #F66B0E;
  }

}
.card-body {
  margin-bottom: 8px;
}

.card > img {
  height: 160px;
  width: 100%;
  object-fit: cover;
}

// .card-text h2 {
//   font-size: 14px;

.card-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card-thumbnail {
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    width: calc(100% / 2 - 10px);
    border-radius: 20px;
    a {
    // border-radius: 30px;
    // background-color:#F66B0E;
  };
  img {
    // border-radius: 40px;

  };
}

.card-image {
  border-radius: 20px;
  width: 100%;
  height: 150px;
  display: flex;
  overflow: hidden;
  position: relative;
  img {
      object-fit: cover;
      width: 100%;
      height: 100%;
  }

  .icon-index {
    color: #F66B0E;
    position: absolute;
    top: 10px;
    right: 10px;
    // width: 50px;
  }

  .fa-heart {
  }

  .fa-bookmark{
    padding-right: 20px;
  }

  .fa-circle-check{
    padding-right: 40px;
  }

  .circle {
    height: 15px;
    width: 15px;
    border-radius: 8px;
    position: absolute;
    background-color: #F66B0E;
   bottom:10px;
   left: 10px;
  }
}

.card-info-wrapper {
  position: relative;
  padding: 8px;
  .ratings {
    display: flex;
    gap: 2px;
  }
}




// .card-trip {
//   overflow: hidden;
//   background: white;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
// }

// .card-trip > img {
//   height: 200px;
//   width: 100%;
//   object-fit: cover;
// }

// .card-trip h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }

.card-body p {
  font-size: 1rem;
  opacity: .7;
  margin-bottom: 5px;
}

.card h2{
  position: inherit;
  // top: -20px;
  // width: 40px;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;

}
.card h3{
  font-size: 15px;
}
// .card-text{
// .card-trip p {
//   font-size: 12px;
//   opacity: .7;
//   margin: 0;
// }

// .card-trip .card-trip-infos {
//   padding: 16px;
//   display: flex;
//   justify-content: space-between;
//   align-items: flex-end;
//   position: relative;
// }

a{
  text-decoration: none;

}
// .card-trip-infos .card-trip-user {
//   position: absolute;
//   right: 16px;
//   top: -20px;
//   width: 40px;
// }

// .new-card{
//   overflow: hidden;
//   width:30%;
//   height:10vh;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   padding: 10px;
//   display: flex;
//   position: relative;
//   border:2px solid #205375;
//   display: inline-block;
// }

.new-card{
  overflow: hidden;
  width: 100%;
  // height:10vh;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px;
  display: flex;
  position: relative;
  border:2px solid #205375;
  border-radius: 50px;
  margin-bottom: 32px;
  background-color: #062b3e;
  justify-content: space-between;
}

.user-name-text {
  text-transform: uppercase;
  margin: 0 auto;
  color: white;
  margin-top: 6px;
  margin-bottom: 4px;
  letter-spacing: 4px;
}

.fa-user-plus {
  color: white;
  padding: 11px;
}
.fa-user-group:hover {
  color: green;
}

.card-single {
  height: 50%;
}
