.card {
  height: 38vh;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.header{
  display:flex;
  h3{
    font-size: 14px;
    font-weight: bold;
    color: #F66B0E;
  }

}
.card-body {
  margin-bottom: 8px;
}

.card > img {
  height: 160px;
  width: 100%;
  object-fit: cover;
}

// .card-text h2 {
//   font-size: 14px;

.card-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card-thumbnail {
    width: calc(100% / 2 - 10px)
}

.card-image {
    width: 100%;
    height: 140px;
    display: flex;
    overflow: hidden;
    img {
        object-fit: cover;
        width: 100%;
    }
}

// .card-trip {
//   overflow: hidden;
//   background: white;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
// }

// .card-trip > img {
//   height: 200px;
//   width: 100%;
//   object-fit: cover;
// }

// .card-trip h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }

.card-body p {
  font-size: 1rem;
  opacity: .7;
  margin-bottom: 5px;
}

.card h2{
  position: inherit;
  // top: -20px;
  // width: 40px;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;

}
.card h3{
  font-size: 15px;
}
// .card-text{
// .card-trip p {
//   font-size: 12px;
//   opacity: .7;
//   margin: 0;
// }

// .card-trip .card-trip-infos {
//   padding: 16px;
//   display: flex;
//   justify-content: space-between;
//   align-items: flex-end;
//   position: relative;
// }

a{
  text-decoration: none;
}
// .card-trip-infos .card-trip-user {
//   position: absolute;
//   right: 16px;
//   top: -20px;
//   width: 40px;
// }
