.card {
  height: 38vh;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-body {
  margin-bottom: 8px;
}

.card > img {
  height: 160px;
  width: 100%;
  object-fit: cover;
}

// .card-text h2 {
//   font-size: 14px;
//   font-weight: bold;
//   margin: 0;
// }

.card-body p {
  font-size: 1rem;
  opacity: .7;
  margin-bottom: 5px;
}

.card h2{
  position: inherit;
  // top: -20px;
  // width: 40px;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;

}
.card h3{
  font-size: 15px;
}
// .card-text{
//   display: flex;
//   justify-content: space-between;
//   align-items: flex-end;
//   position: relative;
// }

a{
  text-decoration: none;
}
